<!DOCTYPE html>
<html lang="en">
<head>
<title>Rational Poker Night</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
</style>
<style>
    html {
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }

    td {
      padding: 0 15px
    }

    .status {
      width: 30px;
      height: 14px;
      border: 1px solid black;
    }

    .right-item {
      grid-area: right;
    }

    .bottom-item {
      grid-area: bottom;
    }

    .grid-container {
      display: inline-grid;
      grid-template-areas: "left right" "bottom bottom";
      column-gap: 10px;
      align-items: left
    }
</style>
</head>

<body>
<h2 id="register">Register Player</h2>
<div class="grid-container">
<table class="left-item" style="grid-area:left; display: block">
<tbody id="table">
<tr>
<th>Player</th>
<th>Score</th>
<th>Status</th>
</tr>
</tbody>
</table>
<pre id="messages" class="right-item" style=
"height:100px;width:360px;border:1px solid #ccc; overflow:auto;"></pre>
<div id="gameWindow" class="bottom-item">
Waiting for next hand to begin.
</div>
<div id="choosename" style="display: block"></div>
<script>
const myURL = "{{myurl}}";
</script> 
<script src="/socket.io/socket.io.js"></script> 
<script src="/client.js" type="text/javascript"></script>
</body>
</html>
