<!DOCTYPE html>
<html lang="en">
<head>
<title>Reset Rational Poker Night</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
</style>
<style>
    html {
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;</div></div>
      font-style: normal;
    }
</style>
</head>
<body>
<h2>Reset Game</h2>
Resetting the came will delete all players and their scores.<br>
<form action="ftkex0g3ouu39hiqj4tq" method="post">
<input type="submit" name="reset" value="reset" />
</form>
</body>
</html>
